#----------------------------------------------------------------------------
# This file contains mappings for a Client sent XML2 PricingRequest message
# There are the one-to-one mappings to the DataModel
#----------------------------------------------------------------------------
[Classes]
MileageRequest=Mileage request
AGI=Agent Information
BIL=Billing Information
PRO=Option Information
OPT=Option Information
WNI=Item Information
DIG=Diagnostic Information
DynamicConfig=Dynamic Configuration Override

[AGI_MEMBERS]
A10=1
A20=2
A21=3
AB0=4
AB1=5
A90=6
N0G=7
A80=8
B00=9
C40=10
Q01=11
N0L=12
C6C=13
AE0=15
AE1=16

[BIL_MEMBERS]
A20=1
Q03=2
Q02=3
AE0=4
AD0=5
C20=6
A22=7
AA0=8
A70=9
C01=10
C00=11
C21=12
S0R=13

[PRO_MEMBERS]
S13=1
C10=2
AE0=3

[OPT_MEMBERS]
D01=1
PBL=2

[WNI_MEMBERS]
Q41=1
A11=2
B00=3
Q0G=4
P2M=5
A60=6
A18=7
PAI=8

[DIG_MEMBERS]
Q0A=1
S01=2

[DYNAMICCONFIG_MEMBERS]
Name=1
Value=2
Substitute=3
Optional=4

[Logger]
LOG_FILE = SAXParser.log
LOG_LEVEL = 254
LOG_CONSOLE = 0
HEARTBEAT_INTERVAL = 10

[OUTPUT]
MAX_PSS_OUTPUT = 2560000

