Taxes/TestServer/Server/release
*.[oda]
*.pyc
*.so
.tests-built
.nfs*
test/testdata/Test*Factory.[c-j]*
*.log
*.out
*.ready
bin/ldc
*.patch
test/DBAccessMock/DataHandle*
test/DataHandleGenerator/scanner.cc
core.*
FarmMake
sc_debug
sc_release
.sconsign.dblite
debug
*.swp
.metadata
.cproject
.project
hh.txt
.settings
.autotools
